@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:wght@500&family=Poppins:wght@100;400&display=swap');

#text1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

#text2 {
  font-family: 'Montserrat', Arial, sans-serif;

}

#text3 {
  font-family: 'Bangers';
  
}

